USE [SmartSchool]
GO
/****** Object:  Table [dbo].[APP_MDUL_TYPE_CODE]    Script Date: 9/2/2018 5:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APP_MDUL_TYPE_CODE](
	[BUSINESS_ID] [int] NOT NULL,
	[CUMPUS_ID] [int] NOT NULL,
	[MDUL_ID] [int] IDENTITY(1,1) NOT NULL,
	[NME] [nvarchar](50) NOT NULL,
	[DSCR] [nvarchar](250) NOT NULL,
	[STS_KEY] [nvarchar](50) NULL,
	[INSR_BY] [nvarchar](50) NOT NULL,
	[INSR_DTE] [datetime] NOT NULL,
	[UPDT_BY] [nvarchar](50) NOT NULL,
	[UPDT_DTE] [datetime] NOT NULL,
 CONSTRAINT [PK_APP_MDUL_TYPE_CODE] PRIMARY KEY CLUSTERED 
(
	[BUSINESS_ID] ASC,
	[CUMPUS_ID] ASC,
	[MDUL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[APP_MESG_TYPE_CODE]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APP_MESG_TYPE_CODE](
	[BUSINESS_ID] [int] NOT NULL,
	[CUMPUS_ID] [int] NOT NULL,
	[MESG_TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[NME] [nvarchar](50) NOT NULL,
	[DSCR] [nvarchar](250) NOT NULL,
	[STS_KEY] [nvarchar](50) NULL,
	[INSR_BY] [nchar](10) NOT NULL,
	[INSR_DTE] [datetime] NOT NULL,
	[UPDT_BY] [nvarchar](50) NOT NULL,
	[UPDT_DTE] [datetime] NOT NULL,
 CONSTRAINT [PK_APP_MESG_TYPE_CODE] PRIMARY KEY CLUSTERED 
(
	[BUSINESS_ID] ASC,
	[CUMPUS_ID] ASC,
	[MESG_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[APP_STS_CODE]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[APP_STS_CODE](
	[CMPS_ID] [int] NOT NULL,
	[CODE_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](250) NOT NULL,
	[DSCR] [nvarchar](500) NULL,
	[EXTR_CODE] [varchar](10) NULL,
	[ACT_IND] [bit] NOT NULL,
	[SYS_IND] [bit] NOT NULL,
	[STS_KEY] [varchar](30) NOT NULL,
	[INSR_BY] [nvarchar](50) NOT NULL,
	[INSR_DTE] [datetime] NOT NULL,
	[UPDT_BY] [nvarchar](50) NOT NULL,
	[UPDT_DTE] [datetime] NOT NULL,
 CONSTRAINT [PK_APP_STS_CODE] PRIMARY KEY CLUSTERED 
(
	[CMPS_ID] ASC,
	[CODE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BTCH_PRCS_CONF]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BTCH_PRCS_CONF](
	[CMPS_ID] [int] NOT NULL,
	[PRCS_ID] [int] IDENTITY(1,1) NOT NULL,
	[BTCH_SIZE] [int] NOT NULL,
	[PRCS_PRTL_COMT_IND] [bit] NOT NULL,
	[BTCH_PRTL_COMT_IND] [bit] NOT NULL,
	[BTCH_ITEM_TIME_OUT_INVL] [int] NOT NULL,
	[PRCS_TIME_OUT_INVL] [int] NOT NULL,
	[PRCS_RTRY_IND] [bit] NOT NULL,
	[BTCH_RTRY_IND] [bit] NOT NULL,
	[MAX_RTRY] [int] NULL,
	[MAX_PRCS_INST] [int] NOT NULL,
	[MAX_BTCH_PER_PROC] [int] NULL,
	[CCUR_ITEM_BTCH] [int] NULL,
	[CCUR_BTCH_PRCS] [int] NOT NULL,
	[BTCH_RTRY_INVL] [int] NOT NULL,
	[BTCH_ITEM_RTRY_INVL] [int] NOT NULL,
	[PRCS_RTRY_INVL] [int] NULL,
	[BTCH_TIME_OUT_INVL] [int] NULL,
	[PRCS_CONF_ID] [int] NOT NULL,
	[BTCH_ITEM_RTRY_CNT] [int] NOT NULL,
	[PRCS_RTRY_CNT] [int] NOT NULL,
	[BTCH_RTRY_CNT] [int] NOT NULL,
	[BTCH_ITEM_RTRY_IND] [bit] NOT NULL,
	[BTCH_ITEM_TIME_OUT_IND] [bit] NOT NULL,
	[BTCH_TIME_OUT_IND] [bit] NOT NULL,
	[DAYS_YEAR_TYPE_KEY] [varchar](25) NULL,
	[PRCS_TIME_OUT_IND] [bit] NOT NULL,
	[DYND_TYPE_ID] [int] NULL,
	[CRIT_MTCH_DTE_ID] [int] NULL,
	[ROLL_OVER_EXEC_IND] [bit] NOT NULL,
	[TRSH_HOLD] [int] NOT NULL,
	[ACT_IND] [bit] NOT NULL,
	[SYS_IND] [bit] NOT NULL,
	[IS_ENBL] [bit] NOT NULL,
	[INSR_BY] [varchar](20) NOT NULL,
	[INSR_DTE] [datetime] NOT NULL,
	[UPDT_BY] [varchar](20) NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_BTCH_PRCS_CONF] PRIMARY KEY CLUSTERED 
(
	[CMPS_ID] ASC,
	[PRCS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BTCH_PRCS_QUEU]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BTCH_PRCS_QUEU](
	[CMPS_ID] [int] NOT NULL,
	[PRCS_QUEU_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRCS_ID] [int] NOT NULL,
	[INVK_TYPE_ID] [int] NULL,
	[STS_KEY] [varchar](30) NULL,
	[RESN_ID] [int] NULL,
	[BTCH_SIZE] [int] NOT NULL,
	[FILE_NME] [varchar](100) NULL,
	[PRTL_COMT_IND] [bit] NOT NULL,
	[PRCS_TIME_OUT_INVL] [int] NULL,
	[PRCS_RTRY_IND] [bit] NOT NULL,
	[RTRY_CNT] [int] NULL,
	[CTXT_ID] [varchar](50) NULL,
	[CRIT] [varchar](max) NULL,
	[SMRY] [varchar](max) NULL,
	[MAX_RTRY] [int] NULL,
	[PRCS_RTRY_INVL] [int] NOT NULL,
	[START_DATE] [datetime] NULL,
	[END_DATE] [datetime] NULL,
	[TIME_OUT_IND] [bit] NOT NULL,
	[EXEC_DATE] [datetime] NULL,
	[UPFR_IND] [bit] NULL,
	[PRNT_QUEU_ID] [int] NULL,
	[TOTL_REC] [int] NULL,
	[PRCS_STOP_IND] [bit] NOT NULL,
	[PRCS_GRP_STOP_IND] [bit] NOT NULL,
	[PRCS_STOP_CNT] [int] NOT NULL,
	[INSR_BY] [varchar](20) NOT NULL,
	[INSR_DTE] [datetime] NOT NULL,
	[UPDT_BY] [varchar](20) NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_BTCH_PRCS_QUEU] PRIMARY KEY CLUSTERED 
(
	[CMPS_ID] ASC,
	[PRCS_QUEU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BTCH_QUEU]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BTCH_QUEU](
	[CMPS_ID] [int] NOT NULL,
	[BTCH_QUEU_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRCS_QUEU_ID] [int] NOT NULL,
	[BTCH_PRTL_COMT_IND] [bit] NOT NULL,
	[BTCH_TIME_OUT_INVL] [int] NOT NULL,
	[BTCH_RTRY_IND] [bit] NOT NULL,
	[MAX_RTRY] [int] NULL,
	[BTCH_DATA] [varchar](max) NOT NULL,
	[PRCS_ID] [int] NOT NULL,
	[STS_KEY] [varchar](30) NULL,
	[RTRY_CNT] [int] NOT NULL,
	[TIME_OUT_IND] [bit] NOT NULL,
	[START_DATE] [datetime] NULL,
	[END_DATE] [datetime] NULL,
	[RESN_ID] [int] NULL,
	[BTCH_RTRY_INVL] [int] NOT NULL,
	[CTXT_ID] [varchar](50) NULL,
	[CRIT] [varchar](max) NULL,
	[SMRY] [varchar](max) NULL,
	[EXEC_DATE] [datetime] NULL,
	[BTCH_RTRY_STS] [bit] NULL,
	[INSR_BY] [varchar](20) NOT NULL,
	[UPDT_BY] [varchar](20) NOT NULL,
	[INSR_DTE] [datetime] NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_BTCH_QUEU] PRIMARY KEY CLUSTERED 
(
	[CMPS_ID] ASC,
	[BTCH_QUEU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BTCH_QUEU_ITEM]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BTCH_QUEU_ITEM](
	[CMPS_ID] [int] NOT NULL,
	[BTCH_ITEM_QUEU_ID] [int] IDENTITY(1,1) NOT NULL,
	[BTCH_QUEU_ID] [int] NULL,
	[BTCH_ITEM_TIME_OUT_INVL] [int] NOT NULL,
	[BTCH_ITEM_RTRY_IND] [bit] NULL,
	[MAX_RTRY] [int] NULL,
	[REF_ID] [int] NULL,
	[START_DATE] [datetime] NULL,
	[END_DATE] [datetime] NULL,
	[BTCH_ITEM_RTRY_INVL] [int] NULL,
	[RESN_ID] [int] NULL,
	[CTXT_ID] [varchar](50) NULL,
	[CRIT] [varchar](max) NULL,
	[STS_KEY] [varchar](30) NULL,
	[RTRY_CNT] [int] NULL,
	[TIME_OUT_IND] [bit] NULL,
	[INSR_BY] [varchar](20) NOT NULL,
	[UPDT_BY] [varchar](20) NOT NULL,
	[INSR_DTE] [datetime] NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_BTCH_QUEU_ITEM] PRIMARY KEY CLUSTERED 
(
	[CMPS_ID] ASC,
	[BTCH_ITEM_QUEU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BTCH_QUEU_LOG]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BTCH_QUEU_LOG](
	[CMPS_ID] [int] IDENTITY(1,1) NOT NULL,
	[BTCH_LOG_ID] [int] NOT NULL,
	[INST_BY] [nvarchar](250) NOT NULL,
	[INST_DTE] [datetime] NOT NULL,
	[UPDT_BY] [nvarchar](250) NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_BTCH_QUEU_LOG] PRIMARY KEY CLUSTERED 
(
	[CMPS_ID] ASC,
	[BTCH_LOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CNF_APPL_CODE]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CNF_APPL_CODE](
	[APPL_KEY] [varchar](5) NOT NULL,
	[DSCR] [nvarchar](500) NULL,
	[ACT_IND] [bit] NOT NULL,
	[SYS_IND] [bit] NOT NULL,
	[INSR_BY] [varchar](20) NULL,
	[UPDT_BY] [varchar](20) NULL,
	[INSR_DTE] [datetime] NOT NULL,
	[UPDT_DTE] [datetime] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CNF_GLOBAL_OPTN]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CNF_GLOBAL_OPTN](
	[GBL_ID] [int] IDENTITY(1,1) NOT NULL,
	[GBL_NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CNF_GLOBAL_OPTION] PRIMARY KEY CLUSTERED 
(
	[GBL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CNF_GLOBAL_OPTN_INV]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CNF_GLOBAL_OPTN_INV](
	[GBL_INV_ID] [int] NOT NULL,
	[MIN_STOCK] [int] NOT NULL,
	[MAX_STOCK] [int] NOT NULL,
 CONSTRAINT [PK_CNF_GLOBAL_OPTN_INV] PRIMARY KEY CLUSTERED 
(
	[GBL_INV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CNF_MDUL_CODE]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CNF_MDUL_CODE](
	[MDUL_KEY] [varchar](15) NOT NULL,
	[DSCR] [nvarchar](500) NULL,
	[MDUL_TABL_NME] [varchar](30) NULL,
	[MDUL_ENTY_NME] [varchar](50) NULL,
	[IS_ENTY] [bit] NOT NULL,
	[ACT_IND] [bit] NOT NULL,
	[SYS_IND] [bit] NOT NULL,
	[INSR_BY] [varchar](20) NOT NULL,
	[UPDT_BY] [varchar](20) NOT NULL,
	[INSR_DTE] [datetime] NOT NULL,
	[UPDT_DTE] [datetime] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CNF_VLDN_FIELD]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CNF_VLDN_FIELD](
	[VLD_ID] [int] NOT NULL,
	[VLD_NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CNF_VLDN_FIELD] PRIMARY KEY CLUSTERED 
(
	[VLD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CRIT_MTCH_DTE]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CRIT_MTCH_DTE](
	[CRIT_MTCH_DTE_ID] [int] IDENTITY(1,1) NOT NULL,
	[NME] [nvarchar](100) NOT NULL,
	[DSCR] [nvarchar](500) NULL,
	[EXTR_CODE] [varchar](10) NULL,
	[STS_KEY] [varchar](30) NULL,
	[REF_ID] [int] NULL,
	[ACT_IND] [bit] NOT NULL,
	[SYS_IND] [bit] NOT NULL,
	[INSR_BY] [varchar](20) NOT NULL,
	[UPDT_BY] [varchar](20) NOT NULL,
	[INSR_DTE] [datetime] NOT NULL,
	[UPDT_DTE] [datetime] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMP_ATDN]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_ATDN](
	[EMP_ATDN_ID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EVNT_LOG]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVNT_LOG](
	[EVNT_ID] [int] NOT NULL,
 CONSTRAINT [PK_APP_EVNT_LOG] PRIMARY KEY CLUSTERED 
(
	[EVNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EVNT_LOG_HIST]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVNT_LOG_HIST](
	[EVNT_HIST_ID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FEE_CHRG]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FEE_CHRG](
	[FEE_CHRG_ID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FEE_COLN]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FEE_COLN](
	[FEE_COLTN_ID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FEE_HEAD]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FEE_HEAD](
	[CMPS_ID] [int] NOT NULL,
	[FEE_HEAD_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](250) NOT NULL,
	[DSCR] [nvarchar](500) NOT NULL,
	[STS_KEY] [tinyint] NOT NULL,
	[INSR_BY] [nvarchar](250) NOT NULL,
	[UPDT_BY] [nvarchar](250) NOT NULL,
	[INSR_DTE] [datetime] NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_FEE_HEAD_1] PRIMARY KEY CLUSTERED 
(
	[CMPS_ID] ASC,
	[FEE_HEAD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FEE_LATE_PLCY]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FEE_LATE_PLCY](
	[CMPS_ID] [int] NOT NULL,
	[FEE_LATE_PLCY_ID] [int] IDENTITY(1,1) NOT NULL,
	[INSR_BY] [nvarchar](250) NOT NULL,
	[INSR_DTE] [datetime] NOT NULL,
	[UPDT_BY] [nvarchar](250) NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_FEE_LATE_PLCY] PRIMARY KEY CLUSTERED 
(
	[CMPS_ID] ASC,
	[FEE_LATE_PLCY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FEE_PLAN]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FEE_PLAN](
	[CMPS_ID] [int] NOT NULL,
	[STD_FEE_PLAN_ID] [int] IDENTITY(1,1) NOT NULL,
	[SESN_ID] [int] NOT NULL,
	[CLASS_ID] [int] NOT NULL,
	[STD_ID] [int] NOT NULL,
	[START_DATE] [datetime] NOT NULL,
	[END_DATE] [datetime] NOT NULL,
	[DUE_DATE] [datetime] NULL,
	[SETL_AMNT] [float] NOT NULL,
	[RCBL_AMNT] [float] NOT NULL,
	[INSR_BY] [nvarchar](250) NOT NULL,
	[INSR_DTE] [datetime] NULL,
	[UPDT_BY] [nvarchar](250) NOT NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_FEE_PLAN] PRIMARY KEY CLUSTERED 
(
	[CMPS_ID] ASC,
	[STD_FEE_PLAN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FEE_PLAN_HIST]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FEE_PLAN_HIST](
	[CMPS_ID] [int] NOT NULL,
	[FEE_PLAN_HIST_ID] [nchar](10) NOT NULL,
	[FEE_PLAN_ID] [int] NOT NULL,
	[SESN_ID] [int] NOT NULL,
	[CLASS_ID] [int] NOT NULL,
	[STD_ID] [int] NOT NULL,
	[START_DATE] [datetime] NOT NULL,
	[END_DATE] [datetime] NOT NULL,
	[DUE_DATE] [datetime] NULL,
	[SETL_AMNT] [float] NOT NULL,
	[RCBL_AMNT] [float] NOT NULL,
	[INSR_BY] [nvarchar](250) NOT NULL,
	[INSR_DTE] [datetime] NULL,
	[UPDT_BY] [nvarchar](250) NOT NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_FEE_PLAN_HIST] PRIMARY KEY CLUSTERED 
(
	[CMPS_ID] ASC,
	[FEE_PLAN_HIST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HRM_DEPT]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRM_DEPT](
	[BUSINESS_ID] [int] NOT NULL,
	[CUMPUS_ID] [int] NOT NULL,
	[DEPT_ID] [int] IDENTITY(1,1) NOT NULL,
	[DEPT_NAME] [nvarchar](250) NOT NULL,
	[DEPT_DESC] [nvarchar](500) NULL,
	[STS_KEY] [tinyint] NOT NULL,
	[INSR_BY] [nvarchar](250) NOT NULL,
	[INST_DTE] [datetime] NOT NULL,
	[UPDT_BY] [nvarchar](250) NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_HRM_DEPT] PRIMARY KEY CLUSTERED 
(
	[BUSINESS_ID] ASC,
	[CUMPUS_ID] ASC,
	[DEPT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HRM_DSGN]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRM_DSGN](
	[BUSINESS_ID] [int] NOT NULL,
	[CUMPUS_ID] [int] NOT NULL,
	[DSGN_ID] [int] IDENTITY(1,1) NOT NULL,
	[DSGN_NAME] [nvarchar](250) NOT NULL,
	[DSGN_DESC] [nvarchar](500) NULL,
	[STS_KEY] [tinyint] NOT NULL,
	[INSR_BY] [nvarchar](250) NOT NULL,
	[INST_DTE] [datetime] NOT NULL,
	[UPDT_BY] [nvarchar](250) NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_HRM_DSGN] PRIMARY KEY CLUSTERED 
(
	[BUSINESS_ID] ASC,
	[CUMPUS_ID] ASC,
	[DSGN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HRM_EMP_EDU]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRM_EMP_EDU](
	[EMP_EDU_ID] [int] NOT NULL,
	[EMP_ID] [int] NOT NULL,
	[INSTITUTE] [nvarchar](50) NOT NULL,
	[UNIVERSITY] [nvarchar](50) NOT NULL,
	[YEAR] [nchar](10) NULL,
	[MARKS] [nchar](10) NULL,
 CONSTRAINT [PK_HRM_EMP_EDU] PRIMARY KEY CLUSTERED 
(
	[EMP_EDU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HRM_EMP_EXP]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HRM_EMP_EXP](
	[EMP_EXP_ID] [int] NOT NULL,
	[EMP_ID] [int] NOT NULL,
	[COMPANY] [int] NOT NULL,
	[DESGINATION] [varbinary](50) NULL,
	[FROM_DTE] [date] NOT NULL,
	[TO_DTE] [date] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HRM_EMP_MAIN]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRM_EMP_MAIN](
	[EMP_ID] [int] NOT NULL,
	[EMP_CODE] [nvarchar](250) NOT NULL,
	[EMP_FNAME] [nvarchar](250) NOT NULL,
	[EMP_LNAME] [nvarchar](250) NOT NULL,
	[FATH_HUSB_NAME] [nvarchar](250) NOT NULL,
	[NATIONALITY] [nvarchar](250) NULL,
	[GENDER] [tinyint] NOT NULL,
	[CNIC] [nvarchar](50) NULL,
	[DATE_BIRTH] [date] NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[COUNTRY_ID] [int] NOT NULL,
	[CITY] [int] NOT NULL,
	[MOB_NBR] [nvarchar](50) NOT NULL,
	[TEL_NBR] [nvarchar](50) NOT NULL,
	[MARITIAL_STS] [tinyint] NOT NULL,
	[RELIGION] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[EMP_STS] [tinyint] NOT NULL,
	[JOB_TYPE] [int] NOT NULL,
	[DEPT_ID] [int] NULL,
	[DSGN_ID] [int] NOT NULL,
	[PIC_URL] [nvarchar](50) NOT NULL,
	[APMNT_DTE] [date] NOT NULL,
	[CONT_STRT_DTE] [date] NOT NULL,
	[CONT_END_DTE] [date] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HRM_JOB_TYPE]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRM_JOB_TYPE](
	[BUSINESS_ID] [int] NOT NULL,
	[CAMPUS_ID] [int] NOT NULL,
	[JOB_TYPE_ID] [int] NOT NULL,
	[JOB_NAME] [nvarchar](250) NOT NULL,
	[JOB_DESC] [nvarchar](500) NULL,
	[STS_KEY] [tinyint] NOT NULL,
	[INSR_BY] [nvarchar](250) NOT NULL,
	[INST_DTE] [datetime] NOT NULL,
	[UPDT_BY] [nvarchar](250) NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_HRM_JOB_TYPE] PRIMARY KEY CLUSTERED 
(
	[BUSINESS_ID] ASC,
	[CAMPUS_ID] ASC,
	[JOB_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[INV_CTGY]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INV_CTGY](
	[CMPS_ID] [int] NOT NULL,
	[CTGY_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[DCSR] [nvarchar](50) NOT NULL,
	[STS_KEY] [tinyint] NOT NULL,
	[INSR_BY] [nvarchar](250) NOT NULL,
	[INSR_DTE] [datetime] NOT NULL,
	[UPDT_BY] [nvarchar](250) NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_INV_CTGY_1] PRIMARY KEY CLUSTERED 
(
	[CMPS_ID] ASC,
	[CTGY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[INV_ITEM]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INV_ITEM](
	[CMPS_ID] [int] NOT NULL,
	[ITEM_ID] [int] IDENTITY(1,1) NOT NULL,
	[CTGY_ID] [int] NOT NULL,
	[SUB_CTGY_ID] [int] NOT NULL,
	[NAME] [nvarchar](250) NOT NULL,
	[DCSR] [nvarchar](500) NULL,
	[STS_KEY] [int] NOT NULL,
	[INSR_BY] [nvarchar](250) NOT NULL,
	[INSR_DTE] [datetime] NOT NULL,
	[UPDT_BY] [nvarchar](250) NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_INV_ITEM] PRIMARY KEY CLUSTERED 
(
	[CMPS_ID] ASC,
	[ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[INV_PRCSE]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INV_PRCSE](
	[CMPS_ID] [int] NOT NULL,
	[PRCSE_ID] [int] NOT NULL,
	[SUPLR_ID] [int] NOT NULL,
	[DATE] [datetime] NOT NULL,
	[DSCR] [varchar](500) NULL,
	[INSR_BY] [nvarchar](250) NOT NULL,
	[INSR_DTE] [datetime] NOT NULL,
	[UPDT_BY] [nvarchar](250) NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_INV_PRCSE] PRIMARY KEY CLUSTERED 
(
	[CMPS_ID] ASC,
	[PRCSE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[INV_PRCSE_DET]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INV_PRCSE_DET](
	[CMPS_ID] [int] NOT NULL,
	[PRCSE_DET_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRCSE_ID] [int] NOT NULL,
	[CTGY_ID] [int] NULL,
	[SUB_CTGY_ID] [int] NULL,
	[ITEM_ID] [int] NOT NULL,
	[QNTY] [int] NOT NULL,
	[PRICE] [float] NULL,
	[INSR_BY] [nvarchar](250) NOT NULL,
	[INSR_DTE] [datetime] NOT NULL,
	[UPDT_BY] [nvarchar](250) NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_INV_PRCSE_DET] PRIMARY KEY CLUSTERED 
(
	[CMPS_ID] ASC,
	[PRCSE_DET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[INV_SUB_CTGY]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INV_SUB_CTGY](
	[CMPS_ID] [int] NOT NULL,
	[SUB_CTGY_ID] [int] IDENTITY(1,1) NOT NULL,
	[CTGY_ID] [int] NOT NULL,
	[NAME] [nvarchar](250) NOT NULL,
	[DCSR] [nvarchar](500) NULL,
	[STS_KEY] [tinyint] NOT NULL,
	[INSR_BY] [nvarchar](250) NOT NULL,
	[INSR_DTE] [datetime] NOT NULL,
	[UPDT_BY] [nvarchar](250) NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_INV_SUB_CTGY] PRIMARY KEY CLUSTERED 
(
	[CMPS_ID] ASC,
	[SUB_CTGY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[INV_UNIT]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INV_UNIT](
	[CMPS_ID] [int] NOT NULL,
	[UNIT_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[ABRVN] [nvarchar](10) NOT NULL,
	[DSCR] [nvarchar](250) NULL,
	[STS_KEY] [tinyint] NOT NULL,
	[INSR_BY] [nvarchar](250) NOT NULL,
	[INST_DTE] [datetime] NOT NULL,
	[UPDT_BY] [nvarchar](250) NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_INV_UNIT] PRIMARY KEY CLUSTERED 
(
	[CMPS_ID] ASC,
	[UNIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[INV_WRHSE]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INV_WRHSE](
	[CMPS_ID] [int] NOT NULL,
	[WRHS_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](250) NOT NULL,
	[DCSR] [nvarchar](500) NULL,
	[ADRS] [nvarchar](250) NULL,
	[STS_KEY] [tinyint] NOT NULL,
	[INSR_BY] [nvarchar](250) NOT NULL,
	[INSR_DTE] [datetime] NOT NULL,
	[UPDT_BY] [nvarchar](250) NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_INV_WRHSE] PRIMARY KEY CLUSTERED 
(
	[CMPS_ID] ASC,
	[WRHS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[INV_WRHSE_STCK]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INV_WRHSE_STCK](
	[STOCK_ID] [int] NOT NULL,
	[WRHS_ID] [int] NOT NULL,
	[CTGY_ID] [int] NULL,
	[SUB_CTGY_ID] [int] NULL,
	[ITEM_ID] [int] NOT NULL,
	[DEBIT] [int] NULL,
	[CREDIT] [int] NOT NULL,
	[DATE] [datetime] NOT NULL,
	[CMNG_FRM] [varchar](50) NULL,
	[ISSUE_TO] [varchar](50) NULL,
	[RCRD_REF] [nvarchar](50) NULL,
	[CMNT] [nvarchar](250) NULL,
	[INSR_BY] [nvarchar](250) NOT NULL,
	[INST_DTE] [datetime] NOT NULL,
	[UPDT_BY] [nvarchar](250) NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_INV_WRHSE_STOCK] PRIMARY KEY CLUSTERED 
(
	[STOCK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MGMT_CMPS]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MGMT_CMPS](
	[CMPS_ID] [int] IDENTITY(1,1) NOT NULL,
	[CNTRY_ID] [int] NOT NULL,
	[CITY_ID] [int] NOT NULL,
	[CMPS_NAME] [nvarchar](50) NOT NULL,
	[ADDRESS] [nvarchar](50) NULL,
	[PIC_PATH] [nvarchar](500) NULL,
	[STS_KEY] [tinyint] NOT NULL,
	[IS_HEAD] [bit] NOT NULL,
	[INST_BY] [nvarchar](250) NOT NULL,
	[INST_DTE] [datetime] NOT NULL,
	[UPDT_BY] [nvarchar](250) NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_MGMT_CAMPUS] PRIMARY KEY CLUSTERED 
(
	[CMPS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MGMT_SESN_BATCH]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MGMT_SESN_BATCH](
	[BUSINESS_ID] [int] NOT NULL,
	[CAMPUS_ID] [int] NOT NULL,
	[SESN_ID] [int] IDENTITY(1,1) NOT NULL,
	[SESN_NAME] [nvarchar](50) NOT NULL,
	[SESN_DESC] [nvarchar](500) NULL,
	[START_DTE] [datetime] NOT NULL,
	[END_DTE] [datetime] NULL,
	[STS_KEY] [tinyint] NOT NULL,
	[INST_BY] [nvarchar](250) NOT NULL,
	[INST_DTE] [datetime] NOT NULL,
	[UPDT_BY] [nvarchar](250) NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_SETUP_SESSION_BATCH] PRIMARY KEY CLUSTERED 
(
	[BUSINESS_ID] ASC,
	[CAMPUS_ID] ASC,
	[SESN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MISC_CITY]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MISC_CITY](
	[CITY_ID] [int] NOT NULL,
	[CITY_NAME] [nvarchar](50) NOT NULL,
	[CITY_DESC] [int] NOT NULL,
	[STS_KEY] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MISC_CNTRY]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MISC_CNTRY](
	[COUNTRY_ID] [int] NOT NULL,
	[COUNTRY_NAME] [nvarchar](50) NOT NULL,
	[COUNTRY_DESC] [nvarchar](50) NOT NULL,
	[STS_KEY] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RCPT]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RCPT](
	[RCPT_ID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RCPT_ALCN]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RCPT_ALCN](
	[RCPT_ALCN_ID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RCPT_ASOC]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RCPT_ASOC](
	[RCPT_ID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RCPT_DET]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RCPT_DET](
	[RCPT_ID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SETUP_MSG]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SETUP_MSG](
	[BUSINESS_ID] [int] NOT NULL,
	[CUMPUS_ID] [int] NOT NULL,
	[MESG_ID] [int] IDENTITY(1,1) NOT NULL,
	[MSG_NME] [nvarchar](50) NOT NULL,
	[MSG_DESC] [nvarchar](max) NOT NULL,
	[MSG_STS_KEY] [tinyint] NOT NULL,
	[INST_BY] [nvarchar](250) NOT NULL,
	[INST_DTE] [datetime] NOT NULL,
	[UPDT_BY] [nvarchar](250) NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_SETUP_MSG] PRIMARY KEY CLUSTERED 
(
	[BUSINESS_ID] ASC,
	[CUMPUS_ID] ASC,
	[MESG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SETUP_MUDLE]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SETUP_MUDLE](
	[BUSINESS_ID] [int] NOT NULL,
	[CUMPUS_ID] [int] NOT NULL,
	[MOUDLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[MOUDLE_TYPE] [tinyint] NOT NULL,
	[MOUDLE_NAME] [nvarchar](50) NOT NULL,
	[MOUDLE_DESC] [nvarchar](500) NULL,
	[STS_KEY] [tinyint] NOT NULL,
	[INST_BY] [nvarchar](250) NOT NULL,
	[INST_DTE] [datetime] NOT NULL,
	[UPDT_BY] [nvarchar](250) NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_SETUP_MOUDLE] PRIMARY KEY CLUSTERED 
(
	[BUSINESS_ID] ASC,
	[CUMPUS_ID] ASC,
	[MOUDLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SETUP_SBJT]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SETUP_SBJT](
	[BUSINESS_ID] [int] NOT NULL,
	[CAMPUS_ID] [int] NOT NULL,
	[SBJT_ID] [int] IDENTITY(1,1) NOT NULL,
	[SBJT_NAME] [nchar](10) NOT NULL,
	[SBJT_DESC] [nvarchar](500) NULL,
	[STS_KEY] [tinyint] NOT NULL,
	[INSR_BY] [nvarchar](250) NOT NULL,
	[INST_DTE] [datetime] NOT NULL,
	[UPDT_BY] [nvarchar](250) NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_SETUP_SBJT] PRIMARY KEY CLUSTERED 
(
	[BUSINESS_ID] ASC,
	[CAMPUS_ID] ASC,
	[SBJT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SETUP_SECN]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SETUP_SECN](
	[SECTN_ID] [int] NOT NULL,
	[SECTN_NAME] [nvarchar](250) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STD_ATDN]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STD_ATDN](
	[STD_ATDC_ID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STD_MAIN]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STD_MAIN](
	[STD_ID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TT_BLOCK]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TT_BLOCK](
	[CMPS_ID] [int] NOT NULL,
	[BLOCK_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](250) NOT NULL,
	[DCSR] [nvarchar](500) NOT NULL,
	[STS_KEY] [tinyint] NOT NULL,
	[INSR_BY] [nvarchar](250) NOT NULL,
	[UPDT_BY] [nvarchar](250) NOT NULL,
	[INSR_DTE] [datetime] NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_TT_BLOCK_1] PRIMARY KEY CLUSTERED 
(
	[CMPS_ID] ASC,
	[BLOCK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TT_DETAIL]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TT_DETAIL](
	[CMPS_ID] [int] NOT NULL,
	[TT_DET_ID] [int] IDENTITY(1,1) NOT NULL,
	[TT_MAIN_ID] [int] NOT NULL,
	[BLOCK_ID] [int] NOT NULL,
	[ROOM_ID] [int] NOT NULL,
	[SESN_ID] [int] NOT NULL,
	[CLASS_ID] [int] NOT NULL,
	[SBJT_ID] [int] NOT NULL,
	[EMP_ID] [int] NOT NULL,
	[TIME_SLOT_ID] [int] NOT NULL,
	[START_DTE] [datetime] NULL,
	[END_DTE] [datetime] NULL,
	[CMNT] [nvarchar](500) NULL,
	[INSR_BY] [nvarchar](250) NOT NULL,
	[INSR_DTE] [datetime] NULL,
	[UPDT_BY] [nvarchar](250) NOT NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_TT_DETAIL] PRIMARY KEY CLUSTERED 
(
	[CMPS_ID] ASC,
	[TT_DET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TT_MAIN]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TT_MAIN](
	[CMPS_ID] [int] NOT NULL,
	[TT_MAIN_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](250) NOT NULL,
	[DSCR] [nvarchar](500) NOT NULL,
	[STS_KEY] [tinyint] NOT NULL,
	[INSR_BY] [nvarchar](250) NOT NULL,
	[UPDT_BY] [nvarchar](250) NOT NULL,
	[INSR_DTE] [datetime] NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_TT_MAIN_1] PRIMARY KEY CLUSTERED 
(
	[CMPS_ID] ASC,
	[TT_MAIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TT_ROOM]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TT_ROOM](
	[CMPS_ID] [int] NOT NULL,
	[ROOM_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](250) NOT NULL,
	[DSCR] [nvarchar](500) NOT NULL,
	[STS_KEY] [tinyint] NOT NULL,
	[INSR_BY] [nvarchar](250) NOT NULL,
	[UPDT_BY] [nvarchar](250) NOT NULL,
	[INSR_DTE] [datetime] NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_TT_ROOM_1] PRIMARY KEY CLUSTERED 
(
	[CMPS_ID] ASC,
	[ROOM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TT_TIMESLOT]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TT_TIMESLOT](
	[CMPS_ID] [int] NOT NULL,
	[TIME_SLOT_ID] [int] IDENTITY(1,1) NOT NULL,
	[START_TIME] [datetime] NOT NULL,
	[END_TIME] [datetime] NOT NULL,
	[DCSR] [nvarchar](500) NOT NULL,
	[INSR_BY] [nvarchar](250) NOT NULL,
	[INSR_DTE] [datetime] NULL,
	[UPDT_BY] [nvarchar](250) NOT NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_TT_TIMESLOT] PRIMARY KEY CLUSTERED 
(
	[CMPS_ID] ASC,
	[TIME_SLOT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UMS_LOGN_HIST]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UMS_LOGN_HIST](
	[CMPS_ID] [int] NOT NULL,
	[LOGN_HIST_ID] [int] IDENTITY(1,1) NOT NULL,
	[USR_LOGN_ID] [varchar](20) NULL,
	[SESN_ID] [int] NULL,
	[LOGN_IP] [varchar](20) NULL,
	[LOGN_MACH_NME] [varchar](50) NULL,
	[LOGN_ATMP_DTE] [datetime] NULL,
	[SUCS_IND] [bit] NOT NULL,
	[INSR_BY] [nvarchar](250) NOT NULL,
	[INSR_DTE] [datetime] NOT NULL,
	[UPDT_BY] [nvarchar](250) NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_UMS_LOGN_HIST_1] PRIMARY KEY CLUSTERED 
(
	[CMPS_ID] ASC,
	[LOGN_HIST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UMS_PSWD_PLCY]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UMS_PSWD_PLCY](
	[PSWD_PLCY_ID] [int] IDENTITY(1,1) NOT NULL,
	[PSWD_PLCY_NME] [nvarchar](100) NOT NULL,
	[LOGN_ATMP] [smallint] NULL,
	[PSWD_LGTH_MIN] [smallint] NULL,
	[PSWD_LGTH_MAX] [smallint] NULL,
	[NUMB_SPCL_CHA] [smallint] NULL,
	[INSR_BY] [nvarchar](250) NOT NULL,
	[INST_DTE] [datetime] NOT NULL,
	[UPDT_BY] [nvarchar](250) NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_UMS_PSWD_PLCY_1] PRIMARY KEY CLUSTERED 
(
	[PSWD_PLCY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UMS_RIGHT]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UMS_RIGHT](
	[CMPS_ID] [int] NOT NULL,
	[RIGHT_ID] [int] IDENTITY(1,1) NOT NULL,
	[RIGHT_NAME] [varchar](50) NOT NULL,
	[RIGHT_DESC] [nvarchar](500) NULL,
	[CNTR_NAME] [nvarchar](50) NOT NULL,
	[ACTN_METHOD] [nvarchar](50) NOT NULL,
	[PARENT_ID] [int] NOT NULL,
	[DISPLAY_ICON] [varchar](50) NULL,
	[MENU_ORDER] [int] NOT NULL,
	[STS_KEY] [tinyint] NOT NULL,
	[INST_BY] [nvarchar](250) NOT NULL,
	[INST_DTE] [datetime] NOT NULL,
	[UPDT_BY] [nvarchar](250) NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_UMS_RIGHT] PRIMARY KEY CLUSTERED 
(
	[CMPS_ID] ASC,
	[RIGHT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UMS_ROLE]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UMS_ROLE](
	[CMPS_ID] [int] NOT NULL,
	[ROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[DSCR] [nvarchar](500) NULL,
	[STS_KEY] [tinyint] NOT NULL,
	[INSR_BY] [nvarchar](250) NOT NULL,
	[INST_DTE] [datetime] NOT NULL,
	[UPDT_BY] [nvarchar](250) NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_UMS_ROLE_1] PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UMS_ROLE_RIGHT]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UMS_ROLE_RIGHT](
	[CMPS_ID] [int] NOT NULL,
	[ROLE_RIGHT_ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_ID] [int] NOT NULL,
	[RIGHT_ID] [int] NOT NULL,
	[STS_KEY] [tinyint] NOT NULL,
	[INSR_BY] [nvarchar](250) NOT NULL,
	[INST_DTE] [datetime] NOT NULL,
	[UPDT_BY] [nvarchar](250) NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_UMS_ROLE_RIGHT_1] PRIMARY KEY CLUSTERED 
(
	[CMPS_ID] ASC,
	[ROLE_RIGHT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UMS_USER]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UMS_USER](
	[CMPS_ID] [int] NOT NULL,
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_NAME] [nvarchar](50) NOT NULL,
	[STS_KEY] [tinyint] NOT NULL,
	[INSR_BY] [nvarchar](250) NOT NULL,
	[INSR_DTE] [datetime] NOT NULL,
	[UPDT_BY] [nvarchar](250) NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_UMS_USER_1] PRIMARY KEY CLUSTERED 
(
	[CMPS_ID] ASC,
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UMS_USER_ROLE]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UMS_USER_ROLE](
	[CMPS_ID] [int] NOT NULL,
	[USER_ROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[ROLE_ID] [int] NOT NULL,
	[INSR_BY] [nvarchar](250) NOT NULL,
	[INST_DTE] [datetime] NOT NULL,
	[UPDT_BY] [nvarchar](250) NULL,
	[UPDT_DTE] [datetime] NULL,
 CONSTRAINT [PK_UMS_USER_ROLE_1] PRIMARY KEY CLUSTERED 
(
	[CMPS_ID] ASC,
	[USER_ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UMS_USR_SESN]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UMS_USR_SESN](
	[CMPS_ID] [int] NOT NULL,
	[SESN_ID] [int] IDENTITY(1,1) NOT NULL,
	[USR_LOGN_ID] [varchar](20) NOT NULL,
	[LOG_IN] [datetime] NOT NULL,
	[LOG_OUT] [datetime] NULL,
	[CLNT_IP] [varchar](20) NULL,
	[OS_LOGN_ID] [varchar](50) NULL,
	[CMNT] [nvarchar](500) NULL,
	[INSR_BY] [varchar](20) NULL,
	[UPDT_BY] [varchar](20) NULL,
	[INSR_DTE] [datetime] NOT NULL,
	[UPDT_DTE] [datetime] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UTIL_DB_BCKP]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UTIL_DB_BCKP](
	[BCKP_ID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UTIL_EVNT_MGMT]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UTIL_EVNT_MGMT](
	[EVNT_ID] [int] NOT NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[HRM_DEPT] ON 

INSERT [dbo].[HRM_DEPT] ([BUSINESS_ID], [CUMPUS_ID], [DEPT_ID], [DEPT_NAME], [DEPT_DESC], [STS_KEY], [INSR_BY], [INST_DTE], [UPDT_BY], [UPDT_DTE]) VALUES (1, 1, 2, N'test 2', N'test 2update', 0, N'Abc Create', CAST(N'2018-08-24 00:00:00.000' AS DateTime), N'Abc Update', CAST(N'2018-08-24 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[HRM_DEPT] OFF
ALTER TABLE [dbo].[APP_MDUL_TYPE_CODE] ADD  CONSTRAINT [DF_CNF_MDUL_TYPE_INSR_DTE]  DEFAULT (getdate()) FOR [INSR_DTE]
GO
ALTER TABLE [dbo].[APP_MDUL_TYPE_CODE] ADD  CONSTRAINT [DF_CNF_MDUL_TYPE_UPDT_DTE]  DEFAULT (getdate()) FOR [UPDT_DTE]
GO
ALTER TABLE [dbo].[APP_MESG_TYPE_CODE] ADD  CONSTRAINT [DF_CNF_MESG_TYPE_CODE_INSR_DTE]  DEFAULT (getdate()) FOR [INSR_DTE]
GO
ALTER TABLE [dbo].[APP_MESG_TYPE_CODE] ADD  CONSTRAINT [DF_CNF_MESG_TYPE_CODE_UPDT_DTE]  DEFAULT (getdate()) FOR [UPDT_DTE]
GO
ALTER TABLE [dbo].[APP_STS_CODE] ADD  CONSTRAINT [DF_APP_STS_CODE_ACT_IND]  DEFAULT ('TRUE') FOR [ACT_IND]
GO
ALTER TABLE [dbo].[APP_STS_CODE] ADD  CONSTRAINT [DF_APP_STS_CODE_SYS_IND]  DEFAULT ('FALSE') FOR [SYS_IND]
GO
ALTER TABLE [dbo].[APP_STS_CODE] ADD  CONSTRAINT [DF_CNF_STS_CODE_INSR_DTE]  DEFAULT (getdate()) FOR [INSR_DTE]
GO
ALTER TABLE [dbo].[APP_STS_CODE] ADD  CONSTRAINT [DF_CNF_STS_CODE_UPDT_DTE]  DEFAULT (getdate()) FOR [UPDT_DTE]
GO
ALTER TABLE [dbo].[BTCH_PRCS_CONF] ADD  CONSTRAINT [Default_Value_True_237201022]  DEFAULT ('TRUE') FOR [PRCS_PRTL_COMT_IND]
GO
ALTER TABLE [dbo].[BTCH_PRCS_CONF] ADD  CONSTRAINT [Default_Value_True_2451059]  DEFAULT ('TRUE') FOR [BTCH_PRTL_COMT_IND]
GO
ALTER TABLE [dbo].[BTCH_PRCS_CONF] ADD  CONSTRAINT [Default_Value_True_707735781]  DEFAULT ('TRUE') FOR [PRCS_RTRY_IND]
GO
ALTER TABLE [dbo].[BTCH_PRCS_CONF] ADD  CONSTRAINT [Default_Value_True_893202149]  DEFAULT ('TRUE') FOR [BTCH_RTRY_IND]
GO
ALTER TABLE [dbo].[BTCH_PRCS_CONF] ADD  CONSTRAINT [Default_Value_False_309229405]  DEFAULT ('FALSE') FOR [BTCH_ITEM_RTRY_IND]
GO
ALTER TABLE [dbo].[BTCH_PRCS_CONF] ADD  CONSTRAINT [Default_Value_True_1449384109]  DEFAULT ('TRUE') FOR [BTCH_ITEM_TIME_OUT_IND]
GO
ALTER TABLE [dbo].[BTCH_PRCS_CONF] ADD  CONSTRAINT [Default_Value_True_453194336]  DEFAULT ('TRUE') FOR [BTCH_TIME_OUT_IND]
GO
ALTER TABLE [dbo].[BTCH_PRCS_CONF] ADD  CONSTRAINT [DF__BTCH_PRCS__PRCS___4DB4832C]  DEFAULT ((1)) FOR [PRCS_TIME_OUT_IND]
GO
ALTER TABLE [dbo].[BTCH_PRCS_CONF] ADD  CONSTRAINT [Default_Value_True_235828593]  DEFAULT ('TRUE') FOR [ROLL_OVER_EXEC_IND]
GO
ALTER TABLE [dbo].[BTCH_PRCS_CONF] ADD  CONSTRAINT [Default_Value_Zero_2087609063]  DEFAULT ((0)) FOR [TRSH_HOLD]
GO
ALTER TABLE [dbo].[BTCH_PRCS_CONF] ADD  CONSTRAINT [Default_Value_True_226791517]  DEFAULT ('TRUE') FOR [ACT_IND]
GO
ALTER TABLE [dbo].[BTCH_PRCS_CONF] ADD  CONSTRAINT [Default_Value_False_1921482106]  DEFAULT ('FALSE') FOR [SYS_IND]
GO
ALTER TABLE [dbo].[BTCH_PRCS_CONF] ADD  CONSTRAINT [Default_Value_True_295138922]  DEFAULT ('TRUE') FOR [IS_ENBL]
GO
ALTER TABLE [dbo].[BTCH_PRCS_CONF] ADD  CONSTRAINT [CURRENT_USER_1987730675]  DEFAULT (user_name()) FOR [INSR_BY]
GO
ALTER TABLE [dbo].[BTCH_PRCS_CONF] ADD  CONSTRAINT [current_utc_timestamp_1459363303]  DEFAULT (getutcdate()) FOR [INSR_DTE]
GO
ALTER TABLE [dbo].[BTCH_PRCS_CONF] ADD  CONSTRAINT [CURRENT_USER_2022072036]  DEFAULT (user_name()) FOR [UPDT_BY]
GO
ALTER TABLE [dbo].[BTCH_PRCS_CONF] ADD  CONSTRAINT [current_utc_timestamp_1426791387]  DEFAULT (getutcdate()) FOR [UPDT_DTE]
GO
ALTER TABLE [dbo].[BTCH_PRCS_QUEU] ADD  CONSTRAINT [default_No_401736552]  DEFAULT ('FALSE') FOR [PRTL_COMT_IND]
GO
ALTER TABLE [dbo].[BTCH_PRCS_QUEU] ADD  CONSTRAINT [Default_Value_True_455158510]  DEFAULT ('TRUE') FOR [PRCS_RTRY_IND]
GO
ALTER TABLE [dbo].[BTCH_PRCS_QUEU] ADD  CONSTRAINT [current_utc_timestamp_1258687695]  DEFAULT (getutcdate()) FOR [START_DATE]
GO
ALTER TABLE [dbo].[BTCH_PRCS_QUEU] ADD  CONSTRAINT [current_utc_timestamp_1465792438]  DEFAULT (getutcdate()) FOR [END_DATE]
GO
ALTER TABLE [dbo].[BTCH_PRCS_QUEU] ADD  CONSTRAINT [default_yes_196149384]  DEFAULT ('TRUE') FOR [TIME_OUT_IND]
GO
ALTER TABLE [dbo].[BTCH_PRCS_QUEU] ADD  CONSTRAINT [Default_Value_False_2088794687]  DEFAULT ('FALSE') FOR [UPFR_IND]
GO
ALTER TABLE [dbo].[BTCH_PRCS_QUEU] ADD  CONSTRAINT [DF__PRCS_QUEU__TOTL___3C89F72A]  DEFAULT ((0)) FOR [TOTL_REC]
GO
ALTER TABLE [dbo].[BTCH_PRCS_QUEU] ADD  CONSTRAINT [Default_Value_False_993189576]  DEFAULT ('FALSE') FOR [PRCS_STOP_IND]
GO
ALTER TABLE [dbo].[BTCH_PRCS_QUEU] ADD  CONSTRAINT [Default_Value_False_605320073]  DEFAULT ('FALSE') FOR [PRCS_GRP_STOP_IND]
GO
ALTER TABLE [dbo].[BTCH_PRCS_QUEU] ADD  CONSTRAINT [Default_Value_Zero_875027407]  DEFAULT ((0)) FOR [PRCS_STOP_CNT]
GO
ALTER TABLE [dbo].[BTCH_PRCS_QUEU] ADD  CONSTRAINT [SYSTEM_USER_1869382277]  DEFAULT (suser_sname()) FOR [INSR_BY]
GO
ALTER TABLE [dbo].[BTCH_PRCS_QUEU] ADD  CONSTRAINT [current_utc_timestamp_1359285977]  DEFAULT (getutcdate()) FOR [INSR_DTE]
GO
ALTER TABLE [dbo].[BTCH_PRCS_QUEU] ADD  CONSTRAINT [SYSTEM_USER_2120906371]  DEFAULT (suser_sname()) FOR [UPDT_BY]
GO
ALTER TABLE [dbo].[BTCH_PRCS_QUEU] ADD  CONSTRAINT [current_utc_timestamp_1326714061]  DEFAULT (getutcdate()) FOR [UPDT_DTE]
GO
ALTER TABLE [dbo].[BTCH_QUEU] ADD  CONSTRAINT [Default_Value_True_271274612]  DEFAULT ('TRUE') FOR [BTCH_PRTL_COMT_IND]
GO
ALTER TABLE [dbo].[BTCH_QUEU] ADD  CONSTRAINT [Default_Value_True_875374841]  DEFAULT ('TRUE') FOR [BTCH_RTRY_IND]
GO
ALTER TABLE [dbo].[BTCH_QUEU] ADD  CONSTRAINT [default_No_85580280]  DEFAULT ('FALSE') FOR [TIME_OUT_IND]
GO
ALTER TABLE [dbo].[BTCH_QUEU] ADD  CONSTRAINT [current_utc_timestamp_1259412173]  DEFAULT (getutcdate()) FOR [START_DATE]
GO
ALTER TABLE [dbo].[BTCH_QUEU] ADD  CONSTRAINT [current_utc_timestamp_1432240836]  DEFAULT (getutcdate()) FOR [END_DATE]
GO
ALTER TABLE [dbo].[BTCH_QUEU] ADD  CONSTRAINT [DF__BTCH_QUEU__BTCH___2E3BD7D3]  DEFAULT ((0)) FOR [BTCH_RTRY_STS]
GO
ALTER TABLE [dbo].[BTCH_QUEU] ADD  CONSTRAINT [SYSTEM_USER_2054848645]  DEFAULT (suser_sname()) FOR [INSR_BY]
GO
ALTER TABLE [dbo].[BTCH_QUEU] ADD  CONSTRAINT [SYSTEM_USER_1988594557]  DEFAULT (suser_sname()) FOR [UPDT_BY]
GO
ALTER TABLE [dbo].[BTCH_QUEU] ADD  CONSTRAINT [current_utc_timestamp_1360010455]  DEFAULT (getutcdate()) FOR [INSR_DTE]
GO
ALTER TABLE [dbo].[BTCH_QUEU] ADD  CONSTRAINT [current_utc_timestamp_1327438539]  DEFAULT (getutcdate()) FOR [UPDT_DTE]
GO
ALTER TABLE [dbo].[BTCH_QUEU_ITEM] ADD  CONSTRAINT [Default_Value_False_1229993800]  DEFAULT ('FALSE') FOR [BTCH_ITEM_RTRY_IND]
GO
ALTER TABLE [dbo].[BTCH_QUEU_ITEM] ADD  CONSTRAINT [current_utc_timestamp_1396979071]  DEFAULT (getutcdate()) FOR [START_DATE]
GO
ALTER TABLE [dbo].[BTCH_QUEU_ITEM] ADD  CONSTRAINT [current_utc_timestamp_163573108]  DEFAULT (getutcdate()) FOR [END_DATE]
GO
ALTER TABLE [dbo].[BTCH_QUEU_ITEM] ADD  CONSTRAINT [default_No_1345745319]  DEFAULT ('FALSE') FOR [TIME_OUT_IND]
GO
ALTER TABLE [dbo].[BTCH_QUEU_ITEM] ADD  CONSTRAINT [SYSTEM_USER_623523047]  DEFAULT (suser_sname()) FOR [INSR_BY]
GO
ALTER TABLE [dbo].[BTCH_QUEU_ITEM] ADD  CONSTRAINT [SYSTEM_USER_875047141]  DEFAULT (suser_sname()) FOR [UPDT_BY]
GO
ALTER TABLE [dbo].[BTCH_QUEU_ITEM] ADD  CONSTRAINT [current_utc_timestamp_1296380789]  DEFAULT (getutcdate()) FOR [INSR_DTE]
GO
ALTER TABLE [dbo].[BTCH_QUEU_ITEM] ADD  CONSTRAINT [current_utc_timestamp_1328952705]  DEFAULT (getutcdate()) FOR [UPDT_DTE]
GO
ALTER TABLE [dbo].[CNF_APPL_CODE] ADD  CONSTRAINT [Default_Value_True_322007908]  DEFAULT ('TRUE') FOR [ACT_IND]
GO
ALTER TABLE [dbo].[CNF_APPL_CODE] ADD  CONSTRAINT [Default_Value_False_527074432]  DEFAULT ('FALSE') FOR [SYS_IND]
GO
ALTER TABLE [dbo].[CNF_APPL_CODE] ADD  CONSTRAINT [USER_790774802]  DEFAULT (user_name()) FOR [INSR_BY]
GO
ALTER TABLE [dbo].[CNF_APPL_CODE] ADD  CONSTRAINT [USER_756433441]  DEFAULT (user_name()) FOR [UPDT_BY]
GO
ALTER TABLE [dbo].[CNF_APPL_CODE] ADD  CONSTRAINT [current_utc_timestamp_1364146912]  DEFAULT (getutcdate()) FOR [INSR_DTE]
GO
ALTER TABLE [dbo].[CNF_APPL_CODE] ADD  CONSTRAINT [current_utc_timestamp_1331574996]  DEFAULT (getutcdate()) FOR [UPDT_DTE]
GO
ALTER TABLE [dbo].[CNF_MDUL_CODE] ADD  CONSTRAINT [Default_Value_True_405897048]  DEFAULT ('TRUE') FOR [ACT_IND]
GO
ALTER TABLE [dbo].[CNF_MDUL_CODE] ADD  CONSTRAINT [Default_Value_False_527857797]  DEFAULT ('FALSE') FOR [SYS_IND]
GO
ALTER TABLE [dbo].[CNF_MDUL_CODE] ADD  CONSTRAINT [USER_590233362]  DEFAULT (user_name()) FOR [INSR_BY]
GO
ALTER TABLE [dbo].[CNF_MDUL_CODE] ADD  CONSTRAINT [USER_555892001]  DEFAULT (user_name()) FOR [UPDT_BY]
GO
ALTER TABLE [dbo].[CNF_MDUL_CODE] ADD  CONSTRAINT [current_utc_timestamp_1280257772]  DEFAULT (getutcdate()) FOR [INSR_DTE]
GO
ALTER TABLE [dbo].[CNF_MDUL_CODE] ADD  CONSTRAINT [current_utc_timestamp_1247685856]  DEFAULT (getutcdate()) FOR [UPDT_DTE]
GO
ALTER TABLE [dbo].[CRIT_MTCH_DTE] ADD  CONSTRAINT [Default_Value_True_1557056198]  DEFAULT ('TRUE') FOR [ACT_IND]
GO
ALTER TABLE [dbo].[CRIT_MTCH_DTE] ADD  CONSTRAINT [default_No_1310324703]  DEFAULT ('FALSE') FOR [SYS_IND]
GO
ALTER TABLE [dbo].[CRIT_MTCH_DTE] ADD  CONSTRAINT [SYSTEM_USER_474031932]  DEFAULT (suser_sname()) FOR [INSR_BY]
GO
ALTER TABLE [dbo].[CRIT_MTCH_DTE] ADD  CONSTRAINT [SYSTEM_USER_725556026]  DEFAULT (suser_sname()) FOR [UPDT_BY]
GO
ALTER TABLE [dbo].[CRIT_MTCH_DTE] ADD  CONSTRAINT [current_utc_timestamp_129098622]  DEFAULT (getutcdate()) FOR [INSR_DTE]
GO
ALTER TABLE [dbo].[CRIT_MTCH_DTE] ADD  CONSTRAINT [current_utc_timestamp_96526706]  DEFAULT (getutcdate()) FOR [UPDT_DTE]
GO
ALTER TABLE [dbo].[FEE_HEAD] ADD  CONSTRAINT [DF_FEE_HEAD_INSR_DTE]  DEFAULT (getutcdate()) FOR [INSR_DTE]
GO
ALTER TABLE [dbo].[FEE_HEAD] ADD  CONSTRAINT [DF_FEE_HEAD_UPDT_DTE]  DEFAULT (getutcdate()) FOR [UPDT_DTE]
GO
ALTER TABLE [dbo].[FEE_LATE_PLCY] ADD  CONSTRAINT [DF_FEE_LATE_POLICY_INSR_DTE]  DEFAULT (getutcdate()) FOR [INSR_DTE]
GO
ALTER TABLE [dbo].[FEE_LATE_PLCY] ADD  CONSTRAINT [DF_FEE_LATE_POLICY_UPDT_DTE]  DEFAULT (getutcdate()) FOR [UPDT_DTE]
GO
ALTER TABLE [dbo].[FEE_PLAN] ADD  CONSTRAINT [DF_FEE_PLAN_INSR_DTE]  DEFAULT (getutcdate()) FOR [INSR_DTE]
GO
ALTER TABLE [dbo].[FEE_PLAN] ADD  CONSTRAINT [DF_FEE_PLAN_UPDT_DTE]  DEFAULT (getutcdate()) FOR [UPDT_DTE]
GO
ALTER TABLE [dbo].[FEE_PLAN_HIST] ADD  CONSTRAINT [DF_FEE_PLAN_HIST_INSR_DTE]  DEFAULT (getutcdate()) FOR [INSR_DTE]
GO
ALTER TABLE [dbo].[FEE_PLAN_HIST] ADD  CONSTRAINT [DF_FEE_PLAN_HIST_UPDT_DTE]  DEFAULT (getutcdate()) FOR [UPDT_DTE]
GO
ALTER TABLE [dbo].[TT_BLOCK] ADD  CONSTRAINT [DF_TT_BLOCK_INSR_DTE]  DEFAULT (getutcdate()) FOR [INSR_DTE]
GO
ALTER TABLE [dbo].[TT_BLOCK] ADD  CONSTRAINT [DF_TT_BLOCK_UPDT_DTE]  DEFAULT (getutcdate()) FOR [UPDT_DTE]
GO
ALTER TABLE [dbo].[TT_DETAIL] ADD  CONSTRAINT [DF_TT_DETAIL_INSR_DTE]  DEFAULT (getutcdate()) FOR [INSR_DTE]
GO
ALTER TABLE [dbo].[TT_DETAIL] ADD  CONSTRAINT [DF_TT_DETAIL_UPDT_DTE]  DEFAULT (getutcdate()) FOR [UPDT_DTE]
GO
ALTER TABLE [dbo].[TT_MAIN] ADD  CONSTRAINT [DF_TT_MAIN_INSR_DTE]  DEFAULT (getutcdate()) FOR [INSR_DTE]
GO
ALTER TABLE [dbo].[TT_MAIN] ADD  CONSTRAINT [DF_TT_MAIN_UPDT_DTE]  DEFAULT (getutcdate()) FOR [UPDT_DTE]
GO
ALTER TABLE [dbo].[TT_ROOM] ADD  CONSTRAINT [DF_TT_ROOM_INSR_DTE]  DEFAULT (getutcdate()) FOR [INSR_DTE]
GO
ALTER TABLE [dbo].[TT_ROOM] ADD  CONSTRAINT [DF_TT_ROOM_UPDT_DTE]  DEFAULT (getutcdate()) FOR [UPDT_DTE]
GO
ALTER TABLE [dbo].[TT_TIMESLOT] ADD  CONSTRAINT [DF_TT_TIMESLOT_INSR_DTE]  DEFAULT (getutcdate()) FOR [INSR_DTE]
GO
ALTER TABLE [dbo].[TT_TIMESLOT] ADD  CONSTRAINT [DF_TT_TIMESLOT_UPDT_DTE]  DEFAULT (getutcdate()) FOR [UPDT_DTE]
GO
ALTER TABLE [dbo].[UMS_LOGN_HIST] ADD  CONSTRAINT [current_utc_timestamp_392047210]  DEFAULT (getutcdate()) FOR [LOGN_ATMP_DTE]
GO
ALTER TABLE [dbo].[UMS_LOGN_HIST] ADD  CONSTRAINT [current_utc_timestamp_1396575965]  DEFAULT (getutcdate()) FOR [INSR_DTE]
GO
ALTER TABLE [dbo].[UMS_LOGN_HIST] ADD  CONSTRAINT [current_utc_timestamp_1364004049]  DEFAULT (getutcdate()) FOR [UPDT_DTE]
GO
ALTER TABLE [dbo].[UMS_USR_SESN] ADD  CONSTRAINT [current_utc_timestamp_1566211882]  DEFAULT (getutcdate()) FOR [LOG_IN]
GO
ALTER TABLE [dbo].[UMS_USR_SESN] ADD  CONSTRAINT [current_utc_timestamp_929261310]  DEFAULT (getutcdate()) FOR [LOG_OUT]
GO
ALTER TABLE [dbo].[UMS_USR_SESN] ADD  CONSTRAINT [USER_1259162377]  DEFAULT (user_name()) FOR [INSR_BY]
GO
ALTER TABLE [dbo].[UMS_USR_SESN] ADD  CONSTRAINT [USER_1224821016]  DEFAULT (user_name()) FOR [UPDT_BY]
GO
ALTER TABLE [dbo].[UMS_USR_SESN] ADD  CONSTRAINT [CURRENT_TIMESTAMP_1294604001]  DEFAULT (getdate()) FOR [INSR_DTE]
GO
ALTER TABLE [dbo].[UMS_USR_SESN] ADD  CONSTRAINT [CURRENT_TIMESTAMP_1262032085]  DEFAULT (getdate()) FOR [UPDT_DTE]
GO
/****** Object:  StoredProcedure [dbo].[DT_HRM_DEPT]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[DT_HRM_DEPT](
@BusinessId int,
@CumpusId int,
@DisplayLength int,
@DisplayStart int,
@SortCol int,
@SortDir nvarchar(10),
@Search nvarchar(255) = NULL,
@TotalRecord INT OUT)

as
begin
    Declare @FirstRec int, @LastRec int
    Set @FirstRec = @DisplayStart;
    Set @LastRec = @DisplayStart + @DisplayLength;
   
    With CTE_HRM_DEPT as
    (
         Select ROW_NUMBER() over (
		 order by
         case when (@SortCol = 0 and @SortDir='asc')
             then DEPT_ID
         end asc,
         case when (@SortCol = 0 and @SortDir='desc')
             then DEPT_ID
         end desc,  
         case when (@SortCol = 1 and @SortDir='asc')
             then DEPT_NAME
         end asc,
         case when (@SortCol = 1 and @SortDir='desc')
            then DEPT_NAME
         end desc,
         case when (@SortCol = 2 and @SortDir='asc')
            then DEPT_DESC
         end asc,
         case when (@SortCol = 2 and @SortDir='desc')
            then DEPT_DESC
         end desc,
		  case when (@SortCol = 3 and @SortDir='asc')
            then STS_KEY
         end asc,
         case when (@SortCol = 3 and @SortDir='desc')
            then STS_KEY
         end desc)
         as RowNum,
         HRM_DEPT.*
         from HRM_DEPT
         where (@Search IS NULL
                 Or DEPT_NAME like '%' + @Search + '%'
                 Or DEPT_DESC like '%' + @Search + '%'
				 )
				and BUSINESS_ID = @BusinessId and CUMPUS_ID = @CumpusId 
    )

    Select *
    from CTE_HRM_DEPT 
    where RowNum > @FirstRec and RowNum <= @LastRec
	

-- FOR TOTAL COUNT.	
SELECT @TotalRecord=  COUNT(*) OVER() FROM HRM_DEPT
           where (@Search IS NULL
                 Or DEPT_NAME like '%' + @Search + '%'
                 Or DEPT_DESC like '%' + @Search + '%'
				 )
				 and BUSINESS_ID = @BusinessId and CUMPUS_ID = @CumpusId         


end

GO
/****** Object:  StoredProcedure [dbo].[GETDATA_WITHPAGING]    Script Date: 9/2/2018 5:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----------------------Store Procedure------------------

CREATE PROCEDURE[dbo].[GETDATA_WITHPAGING]  
@STARTROWINDEX INT, @MAXIMUMROWS INT, @GETTOTAL BIT, @TOTALRECORDS INT OUTPUT  
AS  
BEGIN  
DECLARE @FIRSTID BIGINT  
set @TOTALRECORDS = 0  
IF(@GETTOTAL = 1)  
BEGIN  
SELECT @TOTALRECORDS = COUNT(BATCH_QUEUE_ID) FROM BATCH_QUEUE  
END  
SET @STARTROWINDEX = (CASE WHEN @STARTROWINDEX = 0 THEN 1 ELSE @STARTROWINDEX END)  
SET ROWCOUNT @STARTROWINDEX  
SELECT @FIRSTID = BATCH_QUEUE_ID FROM BATCH_QUEUE ORDER BY BATCH_QUEUE_ID ASC  
SET ROWCOUNT @MAXIMUMROWS  
SELECT BATCH_QUEUE_ID,STS_KEY,MESG_ID FROM BATCH_QUEUE WHERE BATCH_QUEUE_ID >= @FIRSTID ORDER BY BATCH_QUEUE_ID ASC  
SET ROWCOUNT 0  
RETURN  
END 

GO
